.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .MuiInput-root {
  border-bottom: 1px solid #fff !important;
} */

.css-17d5dsg-MuiInputBase-root-MuiInput-root:after {
  border-bottom: 2px solid white !important;
}
.css-17d5dsg-MuiInputBase-root-MuiInput-root:before {
  border-bottom: 1px solid white !important;
}
.css-1863v6h-MuiInputBase-root-MuiInput-root:after {
  border-bottom: 1px solid white !important;
}
.css-1863v6h-MuiInputBase-root-MuiInput-root:before {
  border-bottom: 1px solid white !important;
}
.css-7obqij-MuiInputBase-root-MuiInput-root:after {
  border-bottom: 1px solid white !important;
}
.css-7obqij-MuiInputBase-root-MuiInput-root:before {
  border-bottom: 1px solid white !important;
}
.css-11ozwpm-MuiInputBase-root-MuiInput-root:before {
  border-bottom: 1px solid white !important;
}
.css-MuiInputBase-root-MuiInput-root:after {
  border-bottom: 1px solid white !important;
}

::-webkit-scrollbar {
  width: 10px; /* Breite der Scrollleiste */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Farbe des Scrollbalken-Thumb */
  border-radius: 5px; /* Abrundung des Scrollbalken-Thumb */
}
